<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>{{metadata.title}} | {{pageTitle}}</title>
  <meta name="description" content="{{metadata.description}}">
  <meta name="author" content="{{metadata.author}}">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="{{site.path}}/css/normalize.css">
  <link rel="stylesheet" href="{{site.path}}/css/skeleton.css">
  <link rel="stylesheet" href="{{site.path}}/css/custom.css">


  <link rel="icon" type="image/png" href="{{site.path}}/img/favicon.png">

</head>
<body>

  <div class="container u-full-width u-max-full-width">
    <div class="row">
		<div class="three columns sidebar u-pull-left">
			<header>
				<a href="/">
					<img src="{{site.path}}/img/avatar.png" class="center u-max-full-width">
				</a>
				<h3 class="title">
					<a href="/">{{metadata.title}}</a>
					<button id="nav-button" class="button-primary u-pull-right">&#9776;</button>
				</h3>
			</header>
			<p id="bio">
				{{metadata.description}}
			</p>
			<div id="nav" class="hidden-on-mobile">
				<ul>
					{% for page in collections.pages %}
						<li><a href="{{ page.url | url }}">{{ page.data.pageTitle }}</a></li>
					{% endfor %}
				</ul>				
				<footer>
					Powered by <a href="https://www.11ty.dev" target="_blank">11ty</a>
				</footer>
			</div>
		</div>
      <div class="nine columns u-pull-right">
		<div class="header">
			{% if tags contains "posts" %}
				<span class="date">{{date | date: "%d-%m-%Y"}}</span>
			{% endif %}
			<h1>{{ pageTitle }}</h1>
		</div>
		<div id="content">
			{{ content }}
		{% if tags contains "posts" %}
			<span class="signed">&#60;/cre&#62;</span>
		</div>
			<div id="comments">
				<!--Commenti-->
		{% endif %}
		</div>
      </div>
    </div>
  </div>
  
  <script>
    const navButton = document.querySelector("#nav-button");
	navButton.addEventListener('click', ()=>{
		let nav = document.getElementById("nav");
		nav.classList.toggle("hidden-on-mobile");
	});
	</script>
  
</body>
</html>